body {
  margin: 0;
  padding: 20px;
  font-family: 'Copse', serif;
  background-color: #841C26;
  color: #FDE74C;
}
.root {
text-align: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;

}
#button1{
  font-family: 'Copse', serif;
  font-size: 1em;
  padding: 10px;
}


#button2{
  font-family: 'Copse', serif;
  font-size: 1em;
  padding: 10px;
}

.City{
  font-family: 'Copse', serif;
  font-size: 1em;
  padding: 10px;
  width: 50%;
  margin-right: 10px;
}

#search{
  font-family: 'Copse', serif;
  font-size: 1em;
  padding: 10px;
}

ul{
  list-style:none;
  padding-top: 40px;
}


.img{
  height: 35%;
  width: 35%;
}

.info-text {
   text-align:center;
}

 @media (max-width:1024px) {
#button1{
  display:fixed;
  border: 1px solid grey;
}
#button2{
display:inline-flex;
border: 1px solid grey;
}
.info-text{
text-align: center;
}
.City{
 border: 1px solid grey;
}

#search{
 border: 1px solid grey;

}
body{
  border-radius: 20px 90px;
}
}
